<a href="https://colab.research.google.com/github/hxtruong/fb-developer-circles/blob/master/DAwP_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

## SQL

### Table City
Input for **Problem 1 - Problem 4**

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

**Problem 1**
Query all columns (attributes) for every row in the CITY table.

Input Format

The CITY table is described as follows: CITY.jpg

In [0]:
SELECT *
FROM City as C

**Problem 2**
Query all columns for a city in CITY with the ID 1661.

In [0]:
SELECT *
FROM City as C
WHERE C.ID = 1661

**Problem 3** 
Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

In [0]:
SELECT *
FROM City as C
WHERE C.COUNTRYCODE  = "JPN"

**Problem 4** Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

In [0]:
SELECT C.Name
FROM City as C
WHERE C.COUNTRYCODE  = "JPN"

### Table Station
Input for **Problem 5 - Problem 10**

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

**Problem 5** Query a list of CITY and STATE from the STATION table.

In [0]:
SELECT S.City, S.State
FROM Station as S

**Problem 6** Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

In [0]:
SELECT DISTINCT S.City 
FROM Station as S 
WHERE (S.Id % 2) = 0

**Problem 7**
Let **N** be the number of CITY entries in **STATION**, and let **N'**  be the number of distinct *CITY* names in **STATION**; query the value of **N - N'** from **STATION**. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

In [0]:
SELECT COUNT(S.City) - COUNT(DISTINCT S.City)
FROM Station as S

**Problem 8**
Query the two cities in **STATION** with the shortest and longest **CITY** names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

**Sample Input**

Let's say that CITY only has four entries: DEF, ABC, PQRS and WXY

**Sample Output**

ABC 3
PQRS 4
Explanation

When ordered alphabetically, the CITY names are listed as ABC, DEF, PQRS, and WXY, with the respective lengths  and . The longest-named city is obviously PQRS, but there are  options for shortest-named city; we choose ABC, because it comes first alphabetically.

**Note **
You can write two separate queries to get the desired output. It need not be a single query.

In [0]:
SELECT TOP 1 S.City, LEN(S.City)
FROM Station AS S
ORDER BY LEN(S.City) DESC, S.City

SELECT TOP 1 S.City, LEN(S.City)
FROM Station AS S
ORDER BY LEN(S.City) ASC, S.City ASC

**Problem 9**
Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [0]:
SELECT DISTINCT S.City
FROM Station AS S
WHERE S.City LIKE '[ueoai]%'

**Problem 10** 
Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

In [0]:
SELECT DISTINCT S.City
FROM Station AS S
WHERE S.City LIKE '%[ueoai]'

## Python

**Problem 1**

**Task** 

Read two integers from STDIN and print three lines where:

*   The first line contains the sum of the two numbers.
*   The second line contains the difference of the two numbers (first - second).
*   The third line contains the product of the two numbers.


**Input Format**

The first line contains the first integer, . The second line contains the second integer, .

Constraints

 

**Output Format**

Print the three lines as explained above.

**Sample Input 0**


3

2

**Sample Output 0**


5

1

6

**Explanation 0**

3 + 2 = 5

3 - 2 = 1

3 * 2 = 6

In [2]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

4
6
10
-2
24

**NOTE**

To save time for editing the task I just paste the link.


**Problem 2**
https://www.hackerrank.com/challenges/python-division/problem

In [0]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

**Problem 3**
https://www.hackerrank.com/challenges/python-loops/problem

In [3]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i**2)

5
0
1
4
9
16

**Problem 4** 
https://www.hackerrank.com/challenges/write-a-function/problem

In [0]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if (year%4 ==0 and year %100!=0) or (year%400==0):
        leap = True
    
    return leap

year = int(input())
print(is_leap(year))

**Problem 5**
https://www.hackerrank.com/challenges/no-idea/problem

There is an array of **n**  integers. There are also **2  disjoint sets**,  **A** and **B** , each containing **m** integers. You like all the integers in set  and dislike all the integers in set . Your initial happiness is . For each  integer in the array, if , you add  to your happiness. If , you add  to your happiness. Otherwise, your happiness does not change. Output your final happiness at the end.

**Note**: Since  and  are sets, they have no repeated elements. However, the array might contain duplicate elements.

**Constraints** 
 


```
 1 <= n <= 10^5

 1<=m <= 10^5
 
 1<= Any interger in the input <=10^9
 ```


 

**Input Format**

The first line contains integers n  and m separated by a space. 

The second line contains n integers, the elements of the array. 

The third and fourth lines contain m integers, **A** and **B**, respectively.


**Output Format**

Output a single integer, your total happiness.


**Sample Input**

3 2

1 5 3

3 1

5 7

**Sample Output**

1

**Explanation**

You gain  **1** unit of happiness for elements 3  and 1 in set **A** . You lose 1 unit for 5 in set **B**. The element 7 in set B does not exist in the array so it is not included in the calculation.

Hence, the total happiness is `2-1=`1.

In [0]:
n,m = map(int, input().split())
arr = list(map(int, input().split()))
happy = set(map(int, input().split()))
unhappy = set(map(int, input().split()))

# print(n,m)
# print(arr)
# print(happy)
# print(unhappy)
res = 0;
for a in arr:
    if a in happy:
        res+=1;
    elif a in unhappy:
        res-=1;
print(res)